@charset "utf-8";

//variaveis
$ubuntu: "Ubuntu", sans-serif;

//cores
$verde: #8bd11c;
$roupas: #DF1A49; 
$praia: #791eb6 ;
$turismo: #ffc424; 
$esporte: #00A550; 

// funcoes
@mixin opacityCB($valor){
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$valor+'0')";

  /* IE 5-7 */
  filter: alpha(opacity=$valor+'0');

  /* Netscape */
  -moz-opacity: $valor*0.1;

  /* Safari 1.x */
  -khtml-opacity: $valor*0.1;

  /* Good browsers */
  opacity: $valor*0.1;
}

body{
	margin: 0 auto;
	padding: 0;
	min-height: 600px;
	background-image: linear-gradient(bottom, rgb(237,237,237) 28%, rgb(247,247,247) 64%, rgb(255,255,255) 87%);
	background-image: -o-linear-gradient(bottom, rgb(237,237,237) 28%, rgb(247,247,247) 64%, rgb(255,255,255) 87%);
	background-image: -moz-linear-gradient(bottom, rgb(237,237,237) 28%, rgb(247,247,247) 64%, rgb(255,255,255) 87%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,237,237) 28%, rgb(247,247,247) 64%, rgb(255,255,255) 87%);
	background-image: -ms-linear-gradient(bottom, rgb(237,237,237) 28%, rgb(247,247,247) 64%, rgb(255,255,255) 87%);
	background: #EDEDED;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.28, rgb(237,237,237)),
		color-stop(0.64, rgb(247,247,247)),
		color-stop(0.87, rgb(255,255,255))
	);
	
	p,h1,h2,h3,h4,h5,span{padding: 0;margin: 0;}

	.central{
		width: 960px;
		margin: 0 auto;
		height: auto;
		display: table;
	}

	.innerLine{
		width: 0;
		height: 90%;
		border-right: 1px solid rgba(255,255,255,0.3);
		border-left: 1px solid rgba(0,0,0,0.2);
		float: left;
		margin-top: 3px;
	}

	#all{
		width: 100%;
		height: auto;
		
		
		#container{

			#header{
				width: 100%;
				height: 80px;
				background:#333333;
				border-bottom: 3px solid #232323;
				display: block;
				position: fixed;
				z-index: 10;

				#logo{
					background: url(../images/marca.png) no-repeat;
					float: left;
					width: 293px;
					height: 46px;
					margin: 15px 5px;

					span{
						position: relative;
						top: 41px;
						color: rgb(151, 151, 151);
						float: right;
					}
				}

				#statusLogin{
					float: right;
					width: 210px;
					background:#232323;
					height: 78px;
					border-top: 3px solid #3B5998;
					
					img {float: left;}
						
					a.logout{
						float: left;
						color: #fff;
						padding-top: 5px;
						font-size: 11px;
						padding-left: 3px;
					}

					#profile{
						width: 150px;
						margin-left: 55px;
						height: auto;
						margin-top: -46px;
						float: left;
						max-height: 40px;
						
						h6{
							float: left;
							width: 140px;
							margin-left: 5px;
							margin-top: 0;
							font-size: 12px;
							color: #fff;
							font-weight: normal;
							letter-spacing: 1px;
						}

						i{
					        float: left;
					        @include opacityCB(4);
						}
					}

					&:hover{
						i{
							@include opacityCB(10);
						}
					}
				}
				

				#filter{
					width: 100%;
					height: 33px;
					background: $verde; 
					position: relative;
					z-index: 8;
					border-bottom: 2px solid #82C018;
					// -webkit-box-shadow: 0 1px 2px rgb(0,0,0);
					// -moz-box-shadow: 0 1px 2px rgb(0,0,0);
					// box-shadow: 0 1px 2px rgb(0,0,0);
					top: 2px;
				}
			}


			// icons categorias
			.categoriaIcon{
				width: 36px;
				height: 33px;
				float: left;
				background: url(../images/sprite-categorias.png) no-repeat;
				margin-right: 9px;

				&.roupas{
					background-position: -117px 0;
				}

				&.praia{
					background-position: -154px 0 ;
				}

				&.turismo{
					background-position: 0 0;
				}

				&.esportes{
					background-position: -31px 0;
				}

				&.informatica{
					background-position: -72px 0;
				}

				&.joias{
					background-position: -188px 0;
				}
			}
			// icons destaque buttons
			.spriteDestaque{
				width: 46px;
				height: 57px;
				float: left;
				background: url(../images/sprite-interacao.png) no-repeat;
				//@include opacityCB(4);

				&.like{
					background-position: 0 0;
				}

				&.dislike{
					background-position: -55px 0;
				}

				&.share{
					background-position: -112px 0;
					width: 50px;
				}
				&.favorito{
					background-position: -183px 0;
					width: 59px;
				}
				&.comment{
					background-position: -255px 0;
					width: 59px;
				}
			}


			#firstContainer{
				height: 350px;
				margin: 135px 0 15px 0;


				#paperFolding{
					width: 260px;
					height: 350px;
					float: left;
					display: table;
					
					.folding{
						display: table;
						width: 100%;
						height: 52px;
						border: 0;
						text-align: left;
						padding-left: 8%;
						color: #fff;
						text-shadow: none;
						font-family: $ubuntu;
						font-weight: normal;
						position: relative;
						z-index: 0;
						-webkit-transition: all 0.4s ease-in-out;
						-moz-transition: all 0.4s ease-in-out;
						-ms-transition: all 0.4s ease-in-out;
						-o-transition: all 0.4s ease-in-out;

						&:first-child{
							background:#DF1A49;
						}

						&:nth-child(2){
							background: rgb(121, 30, 182);
						}

						&:nth-child(3){
							background:#1481A9
						}

						&:nth-child(4){
							background: #00A550;
						}
						&:nth-child(5){
							background:#ffc424; 
						}

						&:nth-child(6){
							background:#F5811E;
						}

						h4{
							position: relative;
							top: 7px;
							font-weight: normal;
						}

						&:hover{
							left: -3%;
							width: 106% ;
							z-index: 4;
							-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.7);
							-moz-box-shadow: 0 0 30px rgba(0,0,0,0.7);
							box-shadow: 0 0 30px rgba(0,0,0,0.7);
						}

						.categoriaIcon{
							position: relative;
							top: -7px;
						}

					}

					#footerFolding{
						width: 100%;
						background: #333;
						height: 37px;
						border: 0;

						h4{
							text-align: center;
							color: #666;
							font-weight: normal;
							font-family: $ubuntu;

							i{
								@include opacityCB(3);
								// opacity: 0.3;
								position: relative;
								top: 2px;
							}
						}
					}
				}

				#destaque{
					width: 685px;
					margin-left: 15px;
					background: #e3e3e3;
					float: left;
					height: 100%;

					#ribbon {
						background: #8bd11c;
						height: 44px;
						width: 44px;
						position: relative;
						text-align: center;
						font: 600 21px sans-serif;
						color: white;
						line-height: 22px;
						border: 0;
						z-index: 4;
						right: 15px;
						float: right;
						
						&:after {
							content: "";
							position: absolute;
							bottom: -20px;
							left: 0;
							height: 0;
							width: 0;
							border: solid 22px #8bd11c;
							border-bottom-color: transparent;

						}


						.pinIcon{
							width: 32px;
							height: 32px;
							background: url(../images/sprite-mini.png) no-repeat -226px 0;
							position: relative;
							top: 8px;
							z-index: 1;
							left: 7px;
						}

					} //ribbon

					
					#fotoDestaque{
						width: 285px;
						height: 285px;
						background:#bbbbbb;
						float: left;
						border-right: 3px solid #d8d8d8;
						img{
							position: relative;
							//top: -52px;
							z-index: 1;
						}

						.filterCategoria{
							width: 52px;
							height: 52px;
							position: relative;
							z-index: 2;

							div{
								top: 5px;
								left: 8px;
								position: relative;
							}
							&.roupas{ background: #DF1A49; }
							&.praia{ background: #791eb6 ; }
							&.informativo{ background: $verde; }
							&.turismo{ background: #ffc424; }
							&.esporte{ background: #00A550; }

						}


					}
					
					#ofertaDestaque{
						width: 335px;
						margin-left: 15px;
						float: left;
						height: 285px;


						h3{
							color: #6d6d6d;
							text-shadow: 1px 1px 1px #fff;
							margin-bottom: 13px;
							font-weight: normal;
							margin-top: 6px;
						}

						h4{
							i{ @include opacityCB(5);}
							margin-top: 15px;
							padding-bottom: 10px;
							border-bottom: 1px solid #ccc;
							color: #666;
							font-weight: normal;
							text-shadow:1px 1px 1px #fff;
						}
						article.descOfertaDetalhe{
							color: #666;
							text-shadow:1px 1px 1px #fff;
							font-size: 13px;
							margin-top: 16px;
						}
					}
					
					#barDestaque{
						width: inherit;
						height: 62px;
						float: left;
						position: relative;
						z-index: 3;

						.btnDestaque{
							width: 20%;
							// margin: 0 1%;
							height: 62px;
							float: left;
							border: 0;
							background: $verde;
							-webkit-box-shadow: -3px 0 35px rgba(0,0,0,0.4);
							-moz-box-shadow: -3px 0 35px rgba(0,0,0,0.4);
							box-shadow: -3px 0 35px rgba(0,0,0,0.4);
							font-family: $ubuntu;
							font-weight: normal;
							letter-spacing: -1px;

							&:first-child{
								-webkit-box-shadow: none;
								-moz-box-shadow: none;
								box-shadow: none;
								h5{top: 11px;}
								span{
									padding: 1px 7px;
									background: rgba(0,0,0, 0.3);
									-webkit-border-radius: 11px;
									-moz-border-radius: 11px;
									border-radius: 11px;
									position: relative;
									top: 11px;
									color: #fff;
									font-weight: normal;
								}
							}

							&:hover{
								background: #79b719;
							}
						
							
							.spriteDestaque, h5{
								@include opacityCB(4);
							}

							h5{
								position: relative;
								top: 15px;
							}

							&.active{
								background: #598913;
								h5{color: #fff;}
							}
						}
					}
					
					// #barDestaque{
					// 	width: 100%;
					// 	background:$verde;
					// 	height: 65px;
					// 	float: left;

					// 	.btnDestaque{
					// 		width: 127px;
					// 		height: 59px;
					// 		float: left;
					// 		border: none; 
					// 		background:none; 
					// 		@include opacityCB(4);
							
					// 		&:hover{
					// 			@include opacityCB(8);
					// 		}

					// 		&.active{
					// 			@include opacityCB(8);
					// 		}

					// 		&:first-child{ width: 129px}
					// 		&:nth-child(2){ width: 170px}
					// 		&:nth-child(3){ width: 134px}
					// 		&:nth-child(4){ width: 129px}	
					// 		&:last-child{
					// 			width: 145px;
					// 		}						

					// 		h5{ 
					// 			float: left;
					// 			position: relative;
					// 			top: 19px;
					// 			font-family: $ubuntu;
					// 			font-size: 15px;
					// 			font-weight: normal;
					// 			left: 4px;

					// 		}

					// 		&:first-child{
					// 			// width: 160px;
					// 			border-left:0; 
					// 			h5{top: 23px;}
					// 			span{
					// 				-webkit-border-radius: 14px;
					// 				-moz-border-radius: 14px;
					// 				border-radius: 14px;
					// 				@include opacityCB(10);
					// 				background:rgba(0,0,0,0.3);
					// 				color: #fff;
					// 				font-weight: bold;
					// 				// text-shadow:1px 1px 0 #000;
					// 				padding: 1px 8px;
					// 				font-size: 14px;
					// 				float: left;
					// 				position: relative;
					// 				top: -18px;
					// 				right: -29px;
					// 			}
					// 		}

					// 	}
					// }
				}


				#oferta{
					.imgOferta{
						max-width: 450px;
						float: left;
						height: auto;
						max-height: 450px;
					}

					#infoOferta{
						width: 450px;
						float: left;
						margin-left: 26px;
						text-shadow: 1px 1px 1px #fff;

						h2{
							font-family: $ubuntu;
							font-size: 31px;
							color: #616161;
							padding-bottom: 10px;
							border-bottom: 1px solid #c3c3c3;
						}
						
						a{
							text-decoration: none;
							color: #616161;
							width: auto;

							h4{
								width: auto;
								font-family: $ubuntu;
								padding: 10px 0;
								border-bottom: 1px solid #c3c3c3;

							}
						}

						article{

							span.validadeOferta{
								
							}
						}

						#barOferta{
							width: 450px;
							height: 50px;
							background:#333;

							a{
								float: left;
							}


						}
					}


				}

			}
			

			//lista de ofertas
			section#listaOfertas{
				margin-top: 15px;
				border-top: 1px dotted #b2b2b2;
				height: auto;
				padding-bottom: 40px;
				display: table;
				width: 960px;
				.loadingImage{
					width: 100%;
					height: 70px;
					background: url(../images/ajax-loader.gif) center no-repeat;
				}
				
				a.ofertaUnique{
					float: left;
					width: 228px;
					height: 270px;
					background:#b2b2b2;
					margin: 15px 15px 0 0;
					border-top: 5px solid ;
					color: #333;
					position: relative;

					&:last-child{margin: 15px 0;}
					&:hover{ text-decoration: none;	}
					

					&.roupas{ border-color: #DF1A49; }
					&.praia{ border-color:#791eb6 ; }
					&.informativo{ border-color: #333; }
					&.turismo{ border-color: #ffc424; }
					&.esporte{ border-color: #00A550; }

					
					.imageOferta{
						width: 228px;
						height: 228px;

						img{
							position: relative;
							z-index: 3;
						}

						.desc{
							width: 208px;
							height: 208px;
							position: relative;
							top: -228px;
							z-index: 5;
							padding: 10px;
							color: #fff;

							h5{
								text-align: center;
								font-size: 21px;
								text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
							}
							h6{
								font-weight: normal;
								text-align: center;
								
							}

							&.roupas{ background: #DF1A49; }
							&.praia{ background: #791eb6 ; }
							&.informativo{ background: $verde; }
							&.turismo{ background: #ffc424; }
							&.esporte{ background: #00A550; }
						}
					}

					.bottomBar{
						width: 100%;
						height: 53px;
						position: relative;
						z-index: 10;
						background: #333;
						bottom: 0;
						top: -11px;
						display: table;
						
						img{
							width: 228px;
							height: 228px;
						}

						.btnBar{
							background:url(../images/sprite-mini.png) no-repeat;
							width: 32px;
							height: 32px;
							float: left;
							border: 0;
							margin: 4px 5px;
							padding-right: 2px;
							@include opacityCB(2);
							border-right: 1px solid #5b5b5b;

							&:last-child{ border: 0;}

							&:hover{
								@include opacityCB(10);								
							}

							&.like{background-position: 0 0}

							&.dislike{background-position: -33px 0;}

							&.share{background-position: -65px 0; width: 39px;}

							&.favorite{background-position: -107px 0; width: 39px;}
							
							&.pin{background-position: -226px 0;}
						}
					}

				

				}

			}
		} //container
	}//all

}