@charset "utf-8";

//variaveis
$ubuntu: "Ubuntu", sans-serif;

//cores
$verde: #8bd11c;
$roupas: #DF1A49; 
$praia: #791eb6 ;
$turismo: #ffc424; 
$esporte: #00A550; 

// funcoes
@mixin opacityCB($valor){
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$valor+'0')";

  /* IE 5-7 */
  filter: alpha(opacity=''+$valor+'0');

  /* Netscape */
  -moz-opacity: $valor*0.1;

  /* Safari 1.x */
  -khtml-opacity: $valor*0.1;

  /* Good browsers */
  opacity: $valor*0.1;
}

*{margin: 0; padding: 0;}

html,body{height: 100%;}

body{
	margin: 0 auto;
	padding: 0;
	
	&.notLogged{
		background: url(../images/dots.png);
		min-height: 400px;
	}

	&:before{
		content:"";
		height:100%;
		float:left;
		width:0;
		margin-top:-32767px;/* thank you Erik J - negate effect of float*/
	}

	p,h1,h2,h3,h4,h5,span{padding: 0;margin: 0;}

	.central{
		width: 960px;
		margin: 0 auto;
		height: auto;
		display: table;
	}

	.innerLine{
		width: 0;
		height: 90%;
		border-right: 1px solid rgba(255,255,255,0.3);
		border-left: 1px solid rgba(0,0,0,0.2);
		float: left;
		margin-top: 3px;
	}


	#ajaxLoading{
		width: 100%;
		height: 32px;
		background: url(../images/ajax-loader.gif) center center no-repeat transparent;
		background-color: none;

	}

	#all{
		width: 100%;
		height: auto;
		min-height: 100%;
		background-image: linear-gradient(bottom, rgb(237,237,237) 28%, rgb(247,247,247) 64%, rgb(255,255,255) 87%);
		background-image: -o-linear-gradient(bottom, rgb(237,237,237) 28%, rgb(247,247,247) 64%, rgb(255,255,255) 87%);
		background-image: -moz-linear-gradient(bottom, rgb(237,237,237) 28%, rgb(247,247,247) 64%, rgb(255,255,255) 87%);
		background-image: -webkit-linear-gradient(bottom, rgb(237,237,237) 28%, rgb(247,247,247) 64%, rgb(255,255,255) 87%);
		background-image: -ms-linear-gradient(bottom, rgb(237,237,237) 28%, rgb(247,247,247) 64%, rgb(255,255,255) 87%);
		background: #EDEDED;
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.28, rgb(237,237,237)),
			color-stop(0.64, rgb(247,247,247)),
			color-stop(0.87, rgb(255,255,255))
		);

		&.notLogged{
			background: none;
			background-image: none;
			border-top: 4px solid $verde;
		}
		
		#container{
			min-height: 100%;
			height: auto !important;
			height: 100%;
			margin: 0 auto -150px; /* the bottom margin is the negative value of the footer's height */

			#header{
				width: 100%;
				height: 80px;
				background:#333333;
				border-bottom: 3px solid #232323;
				display: block;
				position: fixed;
				z-index: 100000;

				#logo{
					background: url(../images/marca.png) no-repeat;
					float: left;
					width: 293px;
					height: 46px;
					margin: 15px 5px;

					span{
						position: relative;
						top: 41px;
						color: rgb(151, 151, 151);
						float: right;
					}
				}

				#statusLogin{
					float: right;
					width: 210px;
					background:#232323;
					height: 78px;
					border-top: 3px solid #3B5998;
					
					img {float: left;}
						
					a.logout{
						float: left;
						color: #fff;
						padding-top: 5px;
						font-size: 11px;
						padding-left: 3px;
					}

					#profile{
						width: 150px;
						margin-left: 55px;
						height: auto;
						margin-top: -46px;
						float: left;
						max-height: 40px;
						
						h6{
							float: left;
							width: 140px;
							margin-left: 5px;
							margin-top: 0;
							font-size: 12px;
							color: #fff;
							font-weight: normal;
							letter-spacing: 1px;
						}

						i{
					        float: left;
					        @include opacityCB(4);
						}
					}

					&:hover{
						i{
							@include opacityCB(10);
						}
					}
				}
				

				#filter{
					width: 100%;
					height: 33px;
					background: $verde; 
					position: relative;
					z-index: 8;
					border-bottom: 2px solid #82C018;
					// -webkit-box-shadow: 0 1px 2px rgb(0,0,0);
					// -moz-box-shadow: 0 1px 2px rgb(0,0,0);
					// box-shadow: 0 1px 2px rgb(0,0,0);
					top: 2px;
				}
			}


			// icons categorias
			.categoriaIcon{
				width: 36px;
				height: 33px;
				float: left;
				background: url(../images/sprite-categorias.png) no-repeat;
				margin-right: 9px;

				&.roupas{
					background-position: -117px 0;
				}

				&.praia{
					background-position: -154px 0 ;
				}

				&.categoria18{
					background-position: 0 0;
				}

				&.categoria6{
					background-position: -31px 0;
				}

				&.categoria13{
					background-position: -72px 0;
				}

				&.joias{
					background-position: -188px 0;
				}
			}
			// icons destaque buttons
			.spriteDestaque{
				float: left;
				background: url(../images/sprite-interacao.png) no-repeat;
				width: 46px;
				height: 57px;
				position: relative;
				left: 5px;

				&.like{
					background-position: 0 0;
					left: 12px;
				}

				&.dislike{
					background-position: -55px 0;
				}

				&.share{
					background-position: -112px 0;
					width: 50px;
				}
				&.favorito{
					background-position: -183px 0;
					width: 59px;
				}
				&.comment{
					background-position: -255px 0;
					width: 59px;
				}

				&.reservar{
					background-position: -389px 0;
					width: 59px;
				}
			}


			#firstContainer{
				height: auto;
				margin: 135px 0 15px 0;
				padding-bottom: 40px;


				#paperFolding{
					width: 260px;
					height: 350px;
					float: left;
					display: table;
					
					.folding{
						display: table;
						width: 100%;
						height: 52px;
						border: 0;
						text-align: left;
						padding-left: 8%;
						color: #fff;
						text-shadow: none;
						font-family: $ubuntu;
						font-weight: normal;
						position: relative;
						z-index: 0;
						-webkit-transition: all 0.4s ease-in-out;
						-moz-transition: all 0.4s ease-in-out;
						-ms-transition: all 0.4s ease-in-out;
						-o-transition: all 0.4s ease-in-out;

						&:first-child{
							background:#DF1A49;
						}

						&:nth-child(2){
							background: rgb(121, 30, 182);
						}

						&:nth-child(3){
							background:#1481A9
						}

						&:nth-child(4){
							background: #00A550;
						}
						&:nth-child(5){
							background:#ffc424; 
						}

						&:nth-child(6){
							background:#F5811E;
						}

						h4{
							position: relative;
							top: 7px;
							font-weight: normal;
						}

						&:hover{
							left: -3%;
							width: 106% ;
							z-index: 4;
							-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.7);
							-moz-box-shadow: 0 0 30px rgba(0,0,0,0.7);
							box-shadow: 0 0 30px rgba(0,0,0,0.7);
						}

						.categoriaIcon{
							position: relative;
							top: -7px;
						}

					}

					#footerFolding{
						width: 100%;
						background: #333;
						height: 37px;
						border: 0;

						h4{
							text-align: center;
							color: #666;
							font-weight: normal;
							font-family: $ubuntu;

							i{
								@include opacityCB(3);
								// opacity: 0.3;
								position: relative;
								top: 2px;
							}
						}
					}
				}

				#destaque{
					width: 685px;
					margin-left: 15px;
					background: #e3e3e3;
					float: left;
					height: 100%;

					#ribbon {
						background: #8bd11c;
						height: 44px;
						width: 44px;
						position: relative;
						text-align: center;
						font: 600 21px sans-serif;
						color: white;
						line-height: 22px;
						border: 0;
						z-index: 4;
						right: 15px;
						float: right;
						
						&:after {
							content: "";
							position: absolute;
							bottom: -20px;
							left: 0;
							height: 0;
							width: 0;
							border: solid 22px #8bd11c;
							border-bottom-color: transparent;

						}


						.pinIcon{
							width: 32px;
							height: 32px;
							background: url(../images/sprite-mini.png) no-repeat -226px 0;
							position: relative;
							top: 8px;
							z-index: 1;
							left: 7px;
						}

					} //ribbon

					
					#fotoDestaque{
						width: 285px;
						height: 285px;
						background:#bbbbbb;
						float: left;
						border-right: 3px solid #d8d8d8;
						img{
							position: relative;
							//top: -52px;
							z-index: 1;
						}

						.filterCategoria{
							width: 52px;
							height: 52px;
							position: relative;
							z-index: 2;

							div{
								top: 5px;
								left: 8px;
								position: relative;
							}
							&.roupas{ background: #DF1A49; }
							&.praia{ background: #791eb6 ; }
							&.informativo{ background: $verde; }
							&.categoria18{ background: #ffc424; }
							&.categoria6{ background: #00A550; }

						}


					}
					
					#ofertaDestaque{
						width: 335px;
						margin-left: 15px;
						float: left;
						height: 285px;


						h3{
							color: #6d6d6d;
							text-shadow: 1px 1px 1px #fff;
							margin-bottom: 13px;
							font-weight: normal;
							margin-top: 6px;
						}

						h4{
							i{ @include opacityCB(5);}
							margin-top: 15px;
							padding-bottom: 10px;
							border-bottom: 1px solid #ccc;
							color: #666;
							font-weight: normal;
							text-shadow:1px 1px 1px #fff;
						}
						article.descOfertaDetalhe{
							color: #818181;
							text-shadow:1px 1px 1px #fff;
							font-size: 13px;
							margin-top: 16px;
						}
					}
					
					#barDestaque{
						width: inherit;
						height: 62px;
						float: left;
						position: relative;
						z-index: 3;

						.btnDestaque{
							width: 20%;
							// margin: 0 1%;
							height: 62px;
							float: left;
							border: 0;
							background: $verde;
							-webkit-box-shadow: -3px 0 35px rgba(0,0,0,0.4);
							-moz-box-shadow: -3px 0 35px rgba(0,0,0,0.4);
							box-shadow: -3px 0 35px rgba(0,0,0,0.4);
							font-family: $ubuntu;
							font-weight: normal;
							letter-spacing: -1px;

							&:first-child{
								-webkit-box-shadow: none;
								-moz-box-shadow: none;
								box-shadow: none;
								h5{top: 11px;}
								span{
									padding: 1px 7px;
									background: rgba(0,0,0, 0.3);
									-webkit-border-radius: 11px;
									-moz-border-radius: 11px;
									border-radius: 11px;
									position: relative;
									top: 11px;
									color: #fff;
									font-weight: normal;
								}
							}

							&:hover{
								background: #79b719;
							}
						
							
							.spriteDestaque, h5{
								@include opacityCB(4);
							}

							h5{
								position: relative;
								top: 15px;
							}

							&.active{
								background: #446a0e;
								h5{color: #fff;}
							}
						}
					}
					
					// #barDestaque{
					// 	width: 100%;
					// 	background:$verde;
					// 	height: 65px;
					// 	float: left;

					// 	.btnDestaque{
					// 		width: 127px;
					// 		height: 59px;
					// 		float: left;
					// 		border: none; 
					// 		background:none; 
					// 		@include opacityCB(4);
							
					// 		&:hover{
					// 			@include opacityCB(8);
					// 		}

					// 		&.active{
					// 			@include opacityCB(8);
					// 		}

					// 		&:first-child{ width: 129px}
					// 		&:nth-child(2){ width: 170px}
					// 		&:nth-child(3){ width: 134px}
					// 		&:nth-child(4){ width: 129px}	
					// 		&:last-child{
					// 			width: 145px;
					// 		}						

					// 		h5{ 
					// 			float: left;
					// 			position: relative;
					// 			top: 19px;
					// 			font-family: $ubuntu;
					// 			font-size: 15px;
					// 			font-weight: normal;
					// 			left: 4px;

					// 		}

					// 		&:first-child{
					// 			// width: 160px;
					// 			border-left:0; 
					// 			h5{top: 23px;}
					// 			span{
					// 				-webkit-border-radius: 14px;
					// 				-moz-border-radius: 14px;
					// 				border-radius: 14px;
					// 				@include opacityCB(10);
					// 				background:rgba(0,0,0,0.3);
					// 				color: #fff;
					// 				font-weight: bold;
					// 				// text-shadow:1px 1px 0 #000;
					// 				padding: 1px 8px;
					// 				font-size: 14px;
					// 				float: left;
					// 				position: relative;
					// 				top: -18px;
					// 				right: -29px;
					// 			}
					// 		}

					// 	}
					// }
				}

	
				#oferta{
					width: 960px;
					height: auto;
					display: table;
					padding-bottom: 40px;

					.imgOferta{
						max-width: 450px;
						float: left;
						height: auto;
						max-height: 450px;
					}

					#infoOferta{
						width: 507px;
						float: left;
						text-shadow: 1px 1px 1px #fff;
						height: auto;

						h2{
							font-family: $ubuntu;
							font-size: 31px;
							color: #616161;
							padding-bottom: 10px;
							border-bottom: 1px solid #c3c3c3;			
							margin-left: 25px;
						}
						
						a{
							text-decoration: none;
							color: #616161;
							width: auto;

							h4{
								width: auto;
								font-family: $ubuntu;
								padding: 10px 0;
								border-bottom: 1px solid #c3c3c3;
								margin-left: 40px;

								i{
									position: relative;
									right: 5px;
									top: 2px;

								}

							}
						}

						.articleOferta{
							margin-left: 40px;
							margin-top: 11px;
							font-size: 13px;
							line-height: 20px;
							
							span.validadeOferta{
								
							}
						}

						#barOferta{
							width: 478px;
							height: 50px;
							background-color: rgb(65, 65, 65);
							background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(128, 128, 128)), color-stop(100%, rgb(39, 39, 39)));
							background-image: -webkit-linear-gradient(top, rgb(128, 128, 128), rgb(39,39,39));
							background-image: -moz-linear-gradient(top, rgb(128, 128, 128), rgb(39, 39, 39));
							background-image: -ms-linear-gradient(top, rgb(128, 128, 128), rgb(39, 39, 39));
							background-image: -o-linear-gradient(top, rgb(128, 128, 128), rgb(39, 39, 39));
							background-image: linear-gradient(top, rgb(128, 128, 128), rgb(39, 39, 39));
							border: 1px solid rgb(75, 75, 75);
							border-bottom: 1px solid rgb(5, 5, 5);
							border-radius: 1px;
							-webkit-box-shadow: inset 0 1px 0 0 rgb(94, 94, 94);
							box-shadow: inset 0 1px 0 0 rgb(172, 172, 172);
							float: right;
							top: 15px;
							position: relative;
							bottom: 0;

							a{
								cursor: pointer;
							}

							.spriteInteracao{
								background: url(../images/sprite-interacao-interno.png) no-repeat;
								width: 40px;
								height: 45px;
								float: left;
								
								&.like{ background-position: 0 0 ; left: 5px;position: relative; }
								&.dislike{ background-position: -45px 0 ; }
								&.reservar{ background-position: -328px 0 ; width: 51px }
								&.share{ 
									background-position: -95px 0 ;
									width: 42px;
									position: relative;
									left: 4px;
								}
								&.comment{ background-position: 0 0 ; }


							}

							a{
								float: left;
								width: auto;
								color: #fff;
								text-shadow: none;
								font-family: $ubuntu;
								transition: opacity .25s ease-in-out;
								-moz-transition: opacity .25s ease-in-out;
								-webkit-transition: opacity .25s ease-in-out;
								@include opacityCB(4);
								display: table;
								padding: 0 7px;


								&:last-child{
									padding-right: 0;
									padding-left: 3px;
								}
							

								h5{
									position: relative;
									top: 13px;
									font-weight: normal;
									float: left;
									left: 4px;
									display: table;
								}

								&:hover{
									@include opacityCB(10);

								}
							}


						}
					}


				}

			}
			

			//lista de ofertas
			section#listaOfertas{
				border-top: 1px dotted #b2b2b2;
				height: auto;
				position: relative;
				top: 14px;
				display: table;
				width: 960px;
				padding-bottom: 190px;
				
				.groupOfertas{
					height: auto;
					min-height: 210px;
					display: table;

					.loadingImage{
						width: 100%;
						height: 70px;
						background: url(../images/ajax-loader.gif) center no-repeat;
					}

					
					.ofertaUnique{
						float: left;
						width: 228px;
						height: 270px;
						background:#b2b2b2;
						margin: 15px 6px 0;
						border-top: 5px solid ;
						color: #333;
						position: relative;
						*{text-decoration: none;}

						
						&:hover{ text-decoration: none;	}
						

						
						&.categoria1{ border-color: #ff5c42; } //alimentos
						&.categoria2{ border-color: #5d2bff; } //sapatos
						&.categoria3{ border-color: #0e64e7; } //moda masculina
						&.categoria4{ border-color: #ff4690; } //moda feminina
						&.categoria5{ border-color: #ff5efe; } //moda infantil
						&.categoria6{ border-color: #00A550; } //esportes/fitness
						&.categoria7{ border-color: #32d89b; } //decoracao
						&.categoria8{ border-color: #629fff; } //cama/mesa/banho
						&.categoria9{ border-color: #ff660c; } //entretenimento
						&.categoria10{ border-color: $verde; } //servicos
						&.categoria11{ border-color: #daa900; } //joias
						&.categoria12{ border-color: #008199; } //eletro/eletronicos
						&.categoria13{ border-color: #2e4c92; } //informatica
						&.categoria14{ border-color: #566792 } //livraria/papelaria
						&.categoria15{ border-color: #c1000f; } //farmacia
						&.categoria16{ border-color: #560acd; } //perfumes, cosmeticos
						&.categoria17{ border-color: #797979; } //informativo
						&.categoria18{ border-color: #ffc424; } //turismo
						&.categoria19{ border-color: #7498ff; } //jogos, brinquedos

						
						
						.imageOferta{
							width: 228px;
							height: 228px;

							img{
								position: relative;
								z-index: 3;
							}

							.desc{
								width: 208px;
								height: 208px;
								position: relative;
								top: -228px;
								z-index: 5;
								padding: 10px;
								color: #fff;
								@include opacityCB(0);
								transition: opacity .25s ease-in-out;
								-moz-transition: opacity .25s ease-in-out;
								-webkit-transition: opacity .25s ease-in-out;

								h5{
									text-align: center;
									font-size: 21px;
									text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
									line-height: 26px;
								}
								h6{
									font-weight: normal;
									text-align: center;
									font-size: 14px;
									
								}

								&.categoria1{ background: #ff5c42; } //alimentos
								&.categoria2{ background: #5d2bff; } //sapatos
								&.categoria3{ background: #0e64e7; } //moda masculina
								&.categoria4{ background: #ff4690; } //moda feminina
								&.categoria5{ background: #ff5efe; } //moda infantil
								&.categoria6{ background: #00A550; } //esportes/fitness
								&.categoria7{ background: #32d89b; } //decoracao
								&.categoria8{ background: #629fff; } //cama/mesa/banho
								&.categoria9{ background: #ff660c; } //entretenimento
								&.categoria10{ background: $verde; } //servicos
								&.categoria11{ background: #daa900; } //joias
								&.categoria12{ background: #008199; } //eletro/eletronicos
								&.categoria13{ background: #2e4c92; } //informatica
								&.categoria14{ background: #566792 } //livraria/papelaria
								&.categoria15{ background: #c1000f; } //farmacia
								&.categoria16{ background: #560acd; } //perfumes, cosmeticos
								&.categoria17{ background: #797979} //informativo
								&.categoria18{ background: #ffc424; } //turismo
								&.categoria19{ background: #7498ff; } //jogos, brinquedos

								&:hover{ @include opacityCB(10); } 
							}
						}

						.bottomBar{
							width: 228px;
							height: 40px;
							padding: 5px 0px 0 0px;
							position: relative;
							z-index: 10;
							background: #333;
							bottom: 0;
							// top: -11px;
							display: table;
							
							img{
								width: 228px;
								height: 228px;
							}
							
							.innerLine{
								height: 28px;
								margin: 2px 7px;
							}

							.btnBar{
								background:url(../images/sprite-mini.png) no-repeat;
								width: 32px;
								height: 32px;
								float: left;
								border: 0;
								padding: 2px;
								@include opacityCB(2);
								transition: opacity .25s ease-in-out;
								-moz-transition: opacity .25s ease-in-out;
								-webkit-transition: opacity .25s ease-in-out;
								
								&:first-child{ margin-left: 10px; }

								&:last-child{ border: 0;}

								&:hover{
									@include opacityCB(10);								
								}

								&.like{background-position: 0 0; width: 26px;}

								&.dislike{background-position: -33px 0;width: 26px;}

								&.share{background-position: -65px 0; width: 30px;}

								&.favorite{background-position: -107px 0; width: 34px;}
								
								&.comment{background-position: -146px 0; width: 34px;}

								&.reservar{background-position: -226px 0; width: 30px;}


								

							}
						}

					

					}
				}

			}

			#headerMain{
				width: 960px;
				height: 70px;
				margin: 0 auto;
				
				#logo{
					background: url(../images/marca.png) no-repeat;
					float: left;
					width: 293px;
					height: 46px;
					margin: 15px 5px;

					span{
						position: relative;
						top: 41px;
						color: rgb(151, 151, 151);
						float: right;
					}
				}
			}

			#banner{
				width: 960px;
				height: 450px;
				background:url(../images/banner.jpg) no-repeat center center;
				margin: 0 auto;
				color: #fff;
				display: table;
				

				h2,h3{
					text-align: left;
					font-family: $ubuntu;
					text-shadow: 1px 1px 1px #000;
				}

				h2{ margin: 40px 0 0 20px; font-size: 36.5px;}

				h3{margin: 9px 0 0 20px ;font-size: 29.5px;}

				.getAndroid{
					width: 190px;
					color: #fff;
					font-size: 18px;
					text-align: center;
					padding: 15px 10px;
					background:#3fc957;
					border: none;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
					margin-top: 60px;
					margin-left: 32px;
					text-shadow: 1px 1px 1px rgb(57, 175, 77);
					transition: all .45s ease-in-out;
					-moz-transition: all .45s ease-in-out;
					-webkit-transition: all .45s ease-in-out;

					&:hover{
						background: #3dcf57;
						-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.4);
						-moz-box-shadow: 0 0 30px rgba(0,0,0,0.4);
						box-shadow: 0 0 30px rgba(0,0,0,0.4);

					}

				}


			}
			

			// home page, hotsite, presentation, login, etc
			#leftMain{
				width: 540px;
				float: left;
				

			}
			#rightMain{
				width: 400px;
				height: auto;
				float: left;
				min-height: 420px;
				font-family: $ubuntu;
				margin-left: 20px;

				h3{
					font-size: 19px;
					width: 222px;
					float: left;
					color: #b1b1b1;
					text-shadow: 1px 1px 1px #fff;
					margin-left: 69px;
					text-align: center;
					line-height: 27px;
					margin-top: 4px;

				}

				#galaxy{
					width: 380px;
					height: 420px;
					background: url(../images/galaxy.png) no-repeat center center;
					float: left;

					img{
						position: relative;
						top: 408px;
						left: 98px;
					}
				}

				#iphone{
					width: 380px;
					height: 450px;
					background:url(../images/iphone.png) no-repeat center center;
					float: left;

					h2{
						width: 143px;
						position: relative;
						top: 231px;
						left: 115px;
						float: left;
						text-align: center;
						color: rgb(128,128,128);
						font-size: 37px;
					}
				}
			}

			.btn-auth {
			    position: relative;
			    display: inline-block;
			    height: 22px;
			    padding: 0 1em;
			    border: 1px solid #999;
			    border-radius: 2px;
			    margin: 0;
			    text-align: center;
			    text-decoration: none;
			    font-size: 14px;
			    line-height: 22px;
			    white-space: nowrap;
			    cursor: pointer;
			    color: #222;
			    background: #fff;
			    -webkit-box-sizing: content-box;
			    -moz-box-sizing: content-box;
			    box-sizing: content-box;
			    /* iOS */
			    -webkit-appearance: none; /* 1 */
			    /* IE6/7 hacks */
			    *overflow: visible;  /* 2 */
			    *display: inline; /* 3 */
			    *zoom: 1; /* 3 */
			    font-family: $ubuntu;
			}

			.btn-auth:hover,
			.btn-auth:focus,
			.btn-auth:active {
			    color: #222;
			    text-decoration: none;
				background: #718dc9;
			}

			.btn-auth:before {
			    content: "";
			    float: left;
			    width: 22px;
			    height: 22px;
			    background: url(../images/auth-icons.png) no-repeat 99px 99px;
			}

			/*
			 * 36px
			 */

			.btn-auth.large {
			    height: 36px;
			    line-height: 36px;
			    font-size: 20px;
				float: right;
				margin: 20px 0 0 0;
			}

			.btn-auth.large:before {
			    width: 36px;
			    height: 36px;
			}

			/*
			 * Remove excess padding and border in FF3+
			 */

			.btn-auth::-moz-focus-inner {
			    border: 0;
			    padding: 0;
			}


			/* Facebook (extends .btn-auth)
			   ========================================================================== */

			.btn-facebook {
			    border-color: #29447e;
			    border-bottom-color: #1a356e;
			    color: #fff;
			    background-color: #5872a7;
			    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
			    background-image: -webkit-linear-gradient(#637bad, #5872a7);
			    background-image: -moz-linear-gradient(#637bad, #5872a7);
			    background-image: -ms-linear-gradient(#637bad, #5872a7);
			    background-image: -o-linear-gradient(#637bad, #5872a7);
			    background-image: linear-gradient(#637bad, #5872a7);
			    -webkit-box-shadow: inset 0 1px 0 #879ac0;
			    box-shadow: inset 0 1px 0 #879ac0;
			}

			.btn-facebook:hover,
			.btn-facebook:focus {
			    color: #fff;
			    
			}

			.btn-facebook:active {
			    color: #fff;
			    background: #4f6aa3;
			    -webkit-box-shadow: inset 0 1px 0 #45619d;
			    box-shadow: inset 0 1px 0 #45619d;
			}

			/*
			 * Icon
			 */

			.btn-facebook:before {
			    border-right: 1px solid #465f94;
			    margin: 0 1em 0 -1em;
			    background-position: 0 0;
			}

			.btn-facebook.large:before {
			    background-position: 0 -22px;
			}

		} //container


		// .pushFooter{height: 150px;}
		
	}//all
	
	#footer{
		width: 100%;
		position: relative;
		//margin-top: -110px; /* negative value of footer height */
		height: 110px;
		clear:both;
		background: $verde;
		top: 54px;
	}


	// main page, not logged



}

































/* TOOLTIPS CSS */

.tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}

.tooltip {
  pointer-events: none;
  opacity: 0;
  display: inline-block;
  position: absolute;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  font-stretch: condensed;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 6px 5px 9px -9px black,
                      5px 6px 9px -9px black;
  -moz-box-shadow: 6px 5px 9px -9px black,
                   5px 6px 9px -9px black;
  box-shadow: 6px 5px 9px -9px black,
              5px 6px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
}
.tooltip.active {
  opacity: 1;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
.tooltip.out {
  opacity: 0;
  margin-top: -20px;
}












// animate min css

#textLoading{
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	-o-animation-duration: 2s;
	-ms-animation-duration: 2s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-family: $ubuntu;
    color: #999;
    text-shadow: 1px 1px 1px #fff;
    margin-top: 40px;
}
.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	25%, 75% {opacity: 0;}
}

@-moz-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@-o-keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

@keyframes flash {
	0%, 50%, 100% {opacity: 1;}	
	25%, 75% {opacity: 0;}
}

.flash {
	-webkit-animation-name: flash;
	-moz-animation-name: flash;
	-o-animation-name: flash;
	animation-name: flash;
}
@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}	
	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}

@-moz-keyframes tada {
	0% {-moz-transform: scale(1);}	
	10%, 20% {-moz-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-moz-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-moz-transform: scale(1.1) rotate(-3deg);}
	100% {-moz-transform: scale(1) rotate(0);}
}

@-o-keyframes tada {
	0% {-o-transform: scale(1);}	
	10%, 20% {-o-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-o-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-o-transform: scale(1.1) rotate(-3deg);}
	100% {-o-transform: scale(1) rotate(0);}
}

@keyframes tada {
	0% {transform: scale(1);}	
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}

.tada {
	-webkit-animation-name: tada;
	-moz-animation-name: tada;
	-o-animation-name: tada;
	animation-name: tada;
}
@-webkit-keyframes swing {
	20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
	20% { -webkit-transform: rotate(15deg); }	
	40% { -webkit-transform: rotate(-10deg); }
	60% { -webkit-transform: rotate(5deg); }	
	80% { -webkit-transform: rotate(-5deg); }	
	100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes swing {
	20% { -moz-transform: rotate(15deg); }	
	40% { -moz-transform: rotate(-10deg); }
	60% { -moz-transform: rotate(5deg); }	
	80% { -moz-transform: rotate(-5deg); }	
	100% { -moz-transform: rotate(0deg); }
}

@-o-keyframes swing {
	20% { -o-transform: rotate(15deg); }	
	40% { -o-transform: rotate(-10deg); }
	60% { -o-transform: rotate(5deg); }	
	80% { -o-transform: rotate(-5deg); }	
	100% { -o-transform: rotate(0deg); }
}

@keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); }
}

.swing {
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	-moz-animation-name: swing;
	-o-animation-name: swing;
	animation-name: swing;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes wobble {
  0% { -webkit-transform: translateX(0%); }
  15% { -webkit-transform: translateX(-25%) rotate(-5deg); }
  30% { -webkit-transform: translateX(20%) rotate(3deg); }
  45% { -webkit-transform: translateX(-15%) rotate(-3deg); }
  60% { -webkit-transform: translateX(10%) rotate(2deg); }
  75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
  100% { -webkit-transform: translateX(0%); }
}

@-moz-keyframes wobble {
  0% { -moz-transform: translateX(0%); }
  15% { -moz-transform: translateX(-25%) rotate(-5deg); }
  30% { -moz-transform: translateX(20%) rotate(3deg); }
  45% { -moz-transform: translateX(-15%) rotate(-3deg); }
  60% { -moz-transform: translateX(10%) rotate(2deg); }
  75% { -moz-transform: translateX(-5%) rotate(-1deg); }
  100% { -moz-transform: translateX(0%); }
}

@-o-keyframes wobble {
  0% { -o-transform: translateX(0%); }
  15% { -o-transform: translateX(-25%) rotate(-5deg); }
  30% { -o-transform: translateX(20%) rotate(3deg); }
  45% { -o-transform: translateX(-15%) rotate(-3deg); }
  60% { -o-transform: translateX(10%) rotate(2deg); }
  75% { -o-transform: translateX(-5%) rotate(-1deg); }
  100% { -o-transform: translateX(0%); }
}

@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-25%) rotate(-5deg); }
  30% { transform: translateX(20%) rotate(3deg); }
  45% { transform: translateX(-15%) rotate(-3deg); }
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}

.wobble {
	-webkit-animation-name: wobble;
	-moz-animation-name: wobble;
	-o-animation-name: wobble;
	animation-name: wobble;
}
@-webkit-keyframes wiggle {
    0% { -webkit-transform: skewX(9deg); }
    10% { -webkit-transform: skewX(-8deg); }
    20% { -webkit-transform: skewX(7deg); }
    30% { -webkit-transform: skewX(-6deg); }
    40% { -webkit-transform: skewX(5deg); }
    50% { -webkit-transform: skewX(-4deg); }
    60% { -webkit-transform: skewX(3deg); }
    70% { -webkit-transform: skewX(-2deg); }
    80% { -webkit-transform: skewX(1deg); }
    90% { -webkit-transform: skewX(0deg); }
	100% { -webkit-transform: skewX(0deg); }
}

@-moz-keyframes wiggle {
    0% { -moz-transform: skewX(9deg); }
    10% { -moz-transform: skewX(-8deg); }
    20% { -moz-transform: skewX(7deg); }
    30% { -moz-transform: skewX(-6deg); }
    40% { -moz-transform: skewX(5deg); }
    50% { -moz-transform: skewX(-4deg); }
    60% { -moz-transform: skewX(3deg); }
    70% { -moz-transform: skewX(-2deg); }
    80% { -moz-transform: skewX(1deg); }
    90% { -moz-transform: skewX(0deg); }
	100% { -moz-transform: skewX(0deg); }
}

@-o-keyframes wiggle {
    0% { -o-transform: skewX(9deg); }
    10% { -o-transform: skewX(-8deg); }
    20% { -o-transform: skewX(7deg); }
    30% { -o-transform: skewX(-6deg); }
    40% { -o-transform: skewX(5deg); }
    50% { -o-transform: skewX(-4deg); }
    60% { -o-transform: skewX(3deg); }
    70% { -o-transform: skewX(-2deg); }
    80% { -o-transform: skewX(1deg); }
    90% { -o-transform: skewX(0deg); }
	100% { -o-transform: skewX(0deg); }
}

@keyframes wiggle {
    0% { transform: skewX(9deg); }
    10% { transform: skewX(-8deg); }
    20% { transform: skewX(7deg); }
    30% { transform: skewX(-6deg); }
    40% { transform: skewX(5deg); }
    50% { transform: skewX(-4deg); }
    60% { transform: skewX(3deg); }
    70% { transform: skewX(-2deg); }
    80% { transform: skewX(1deg); }
    90% { transform: skewX(0deg); }
	100% { transform: skewX(0deg); }
}

.wiggle {
    -webkit-animation-name: wiggle;
    -moz-animation-name: wiggle;
    -o-animation-name: wiggle;
    animation-name: wiggle;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }	
	50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }	
	50% { -moz-transform: scale(1.1); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }	
	50% { -o-transform: scale(1.1); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }	
	50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-o-animation-name: pulse;
	animation-name: pulse;
}







// shareThis

// .shareThis .box{
// float:left;
// margin:5% 8% 0 8%;
// width:100%;
// }
// .shareThis .box a{
// color:#404040;
// text-shadow: 0 1px 1px rgba(167,167,167,.4);
// }
// .shareThis .box a:hover{
// text-decoration:none;
// }
// .shareThis .count {
// font-weight:bold;
// font-size:50px;
// float:left;
// border-right:2px solid #57b8d1;
// line-height:40px;
// padding-right:10px
// }
// .shareThis .share {
// float:left;
// margin-left:10px;
// font-size:20px;
// width:82px;
// }
// .shareThis .buttons {
// position: absolute;
// width:294px;
// background-color:#fff;
// border: 1px solid rgba(0,0,0,.2);
// padding:10px;
// -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
// -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
// box-shadow: 0 1px 2px rgba(0,0,0,.1);
// }
// .shareThis .button {
// float:left;
// max-width:50px;
// margin:0 10px 0 0;
// }
// .shareThis .facebook {
// margin:0 4px 0 0;
// }
