@charset "utf-8";

//variaveis
$ubuntu: "Ubuntu", sans-serif;
@mixin opacityCB($valor){
	$val: $valor*10;
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$val+")";

  	/* IE 5-7 */
  	filter: alpha(opacity=''+$valor+'0');

  	/* Netscape */
  	-moz-opacity: $valor*0.1;

	  /* Safari 1.x */
	  -khtml-opacity: $valor*0.1;

	  /* Good browsers */
	  opacity: $valor*0.1;
}
$verde: #6BB130;
::selection{
	background: #538723;
	color: #fff;
	text-shadow: none;
}

-moz-::selection{
	background: #538723;
	color:#fff;
	text-shadow: none;
}

.gecko{
	form{
		select{
			padding: 8px 7px !important;
		}
	}
}

body{
	margin: 0;
	padding: 0;

	
	//reset
	h1,h2,h3,h4, h5, h6, p, span{ margin: 0; padding: 0;}
	a,img{border: none;}
	input:focus{outline:none;}
	textarea{outline: none; resize:none;}

	.central{
		width: 960px;
		height: auto;
		margin: 0 auto;
	}

	.all{
		.header{
			width: 100%;
			height: 68px;
			background: #EBECE8;
			-webkit-box-shadow: 0 1px 30px rgba(0,0,0, 0.4);
			-moz-box-shadow: 0 1px 30px rgba(0,0,0, 0.4);
			box-shadow: 0 1px 30px rgba(0,0,0, 0.4);
			position: fixed;
			display: block;
			z-index: 5;
			top: 0;


			.brand{
				background: url(../images/marca.png) no-repeat;
				float: left;
				width: 293px;
				height: 46px;
				margin: 5px 0;

				span{
					position: relative;
					top: 43px;
					color: #6A6A6A;
					text-shadow: 1px 1px 1px #fff;
					float: right;
					font-family: Arial;
					font-size: 12px;
				}
			}

			.formLogin{
				width: 190px;
				height: 60px;
				float: right;
				
				label{

					width: 200px;
					float: left;

					span{
						position: relative;
						left: 29px;
						width: 22px;
						height: 22px;
						float: left;
						top: 10px;
						@include opacityCB(5);

					}

					input{
						background: rgba(0,0,0,0.2);
						width: 140px;
						height: 23px;
						border: 0;
						margin-top: 6px;
						padding: 1px 1px 1px 23px;
						float: left;
						-webkit-border-radius: 2px;
						-moz-border-radius: 2px;
						border-radius: 2px;
						font-size: 13px;
						color: #454545;
						text-shadow: 0 -1px rgba(255, 255, 255, 0.5);
					}

				}
				button{
					background: $verde;
					width: 30px;
					height: 25px;
					float: right;
					position: relative;
					border: 0;
					top: -25px;
					-webkit-border-radius: 0 2px 2px 0;
					-moz-border-radius: 0 2px 2px 0;
					border-radius: 0 2px 2px 0;
					left: -4px;
					cursor: pointer;
					font-weight: bold;
					color: #fff;
				}
			}

			.buttonTop{
				width: auto;
				height: auto;
				color: rgba(0,0,0,0.5);
				text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
				background-color: #FAC832;
				background-image: -moz-linear-gradient(top, #FAD052, #F7C109);
				background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAD052), to(#F7C109));
				background-image: -webkit-linear-gradient(top, #FAD052, #F7C109);
				background-image: -o-linear-gradient(top, #FAD052, #F7C109);
				background-image: linear-gradient(to bottom, #FAD052, #F7C109);
				background-repeat: repeat-x;
				border: 0; 
				border-bottom: 5px solid #CEA206;
				float: right;
				font-family: $ubuntu;
				font-size: 20px;
				text-align: center;
				font-weight: normal;
				cursor: pointer;
				border-radius: 0 0 7px 7px;
				padding: 6px 15px 0 15px;
				position: relative;
				top: -4px;
				transition: all 0.1s ease-in-out;
				-webkit-transition: all 0.1s ease-in-out;
				-moz-transition: all 0.1s ease-in-out;
				margin-right: 20px;


				span{
					font-size: 16px;
					font-family: Arial;
					padding: 0;
					margin: 0;
					position: relative;
					top: -3px;
				}

				&:hover{
					background: #F7C109;
				}

				&:active{
					top: -2px; 
					border-bottom: 2px solid #D2B300;
				}

			}
		}//header

		.content{
			width: auto;
			height: auto;

			.btn{
				width: 250px;
				height: 62px;
				display: table;
				margin: 0 auto;
				background: $verde;
				border: 1px inset rgba(255, 255, 255, 0.3);
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				font-family: $ubuntu;
				font-size: 19px;
				color: #fff;
				border-color: #73bf32 #73bf32 #4d8121;
				border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
				cursor: pointer;
				border-bottom: 6px solid #4d8121;
				transition: all 0.1s ease-in-out;
				-webkit-transition: all 0.1s ease-in-out;
				-moz-transition: all 0.1s ease-in-out;


				span{
					font-size: 13px;
					position: relative;
					top: -3px;
				}

				&:active{
					border-bottom: 2px solid #4d8121;
					margin: 4px auto;
				}
			}

			.first{
				background: $verde;
				height: 380px;
				width: 100%;
				position: relative;
				z-index: 1;
				display: table;
				margin-top: 68px;
				
				h2{
					color: #fff;
					font-family: $ubuntu;
					text-align: center;
					margin: 20px 0 0 0 ;
					text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
				}

				.labels{
					width: 960px;
					height: 30px;
					margin: 30px 0 0 0 ;

					h3{
						font-family: $ubuntu;
						float: left;
						width: 240px;
						text-align: center;
						font-weight: normal;
						color: rgba(0,0,0, 0.4);
						padding: 0;
						margin: 0;
						font-size: 18px;

						&:nth-child(2){
							margin: 0 25px 0 35px;
						}

						&:last-child{
							margin: 0 0 0 68px;
							width: 310px;
						}
					}
				}

				.lojista1{
					width: 960px;
					height: 168px;
					background: url(../images/lojista1.png) center center no-repeat;
					margin-top: 30px;


				}
			}//first

			.second{
				width: 100%;
				height: 505px;
				background: url(../images/dots.png);
				display: table;

				h2{
					font-family: $ubuntu;
					color: #8D8F7C;
					margin: 30px 0 0 15px;
					text-align: center;
				}

				.why{
					width: 280px;
					height: 310px;
					background: rgba(0,0,0,0.01);
					float: left; 
					margin: 25px 20px 0 20px;
					border-radius: 4px;
					box-shadow: inset 0 0 20px rgba(0,0,0, 0.2);
					-webkit-box-shadow: inset 0 0 20px rgba(0,0,0, 0.2);
					-moz-box-shadow: inset 0 0 20px rgba(0,0,0, 0.2);
					transition: all 0.25s ease-in-out;
					-webkit-transition: all 0.25s ease-in-out;
					-moz-transition: all 0.25s ease-in-out;

					
					h4{
						font-family: $ubuntu;
						color: $verde;
						border-bottom: 1px solid #ccc;
						padding-bottom: 5px;
						width: 225px;
						margin: 15px auto 0 auto;
						font-size: 19px;
						cursor: default;
						text-align: center;
					}

					.article{
						font-family: Arial;
						font-size: 13px;
						color: #7A7A7A;
						line-height: 17px;
						width: 225px;
						margin: 15px auto 0 auto;
						text-align: justify;
						cursor: default;
					}

					&:hover{
						background: url(../images/dots.png);
						box-shadow: 0 0 20px rgba(0,0,0, 0.2);
						-webkit-box-shadow: 0 0 20px rgba(0,0,0, 0.2);
						-moz-box-shadow: 0 0 20px rgba(0,0,0, 0.2);

					}
				}//why

				.btn{
					position:relative;
					top: 20px;
				}

				
			}//second

			.third{
				background: url(../images/noise.png);
				width: 100%;
				height: auto;
				-webkit-box-shadow: 0 4px 30px rgba(0,0,0,0.5);
				-moz-box-shadow: 0 4px 30px rgba(0,0,0,0.5);
				box-shadow: 0 4px 30px rgba(0,0,0,0.5);
				position: relative;
				z-index: 3;
				display: table;
			
				h2{
					font-family: $ubuntu;
					color: #a2a2a2;
					font-size: 25px;
					text-align: center;
					text-shadow: -1px 0 0 rgba(255,255,255, 0.5);
					margin-top: 25px;
				}
				
				#listaClientes{
					width: auto;
					height: 185px;
					margin-top: 25px;

					img{
						// width: 160px;
						// height: 120px;
						float: left;
						margin: 0 15px;
						max-width: 150px;
						vertical-align: middle; 
						display: inline-block;

					}
				}

				.doIt{
					width: auto;
					height: auto;
					font-size: 25px;
					font-family: $ubuntu;
					color: rgb(130, 218, 56);
					text-align: center;
					margin: 40px auto 0 auto;
					display: table;
					font-weight: bold;
					text-decoration: none;
					padding: 11px 21px;
					background: #161616;
					border-radius: 23px 23px 0 0;
					-moz-border-radius: 23px 23px 0 0;
					-webkit-border-radius: 23px 23px 0 0;

					
					
					
				}
			}//third

			.fourth{
				background:#1e1e1e;
				position: relative;
				z-index: 2;
				height: 545px;

				.left{
					width: 450px;
					margin-top: 35px;
					float: left;
					height: auto;

					h2{
						font-family: $ubuntu;
						color: #4c4c4c;
					}
					.depoimento{
						width: 100%;
						height: auto;
						margin-top: 10px;

						span{
							font-family: Georgia;
							font-size: 60px;
							font-style: italic;
							float: left;
							width: 30px;
							height: 30px;
							-webkit-transform: rotate(180deg);
							-moz-transform: rotate(180deg);
							-ms-transform: rotate(180deg);
							-o-transform: rotate(180deg);
							transform: rotate(180deg);
							position: relative;
							top: 40px;
							left: -5px;
							color: rgba(255,255,255,0.1);
						}

						.article{
							font-family: Georgia;
							font-style: italic; 
							font-size: 13px;
							margin-top: 25px;
							line-height: 18px;
							font-weight: normal;
							width: auto;
							color: #bcbcbc;
							text-align: justify;
						}

						h5{
							font-family: Arial;
							font-size: 13px;
							font-weight: normal;
							margin-top: 6px;
							color: #fff;
						}
					}

					.phone{
						background: $verde;
						width: auto;
						float: left;
						padding: 5px 15px;
						color: #fff;
						border-bottom: 5px solid #538723;
						font-family: $ubuntu;
						position: relative;
						top: 47px;
						-webkit-border-radius: 9px 9px 0 0;
						-moz-border-radius: 9px 9px 0 0;
						border-radius: 9px 9px 0 0;
						font-size: 26px;
						left: 80px;

						span{
							font-size: 19px;
						}
					}
				}

				.form{
					width: 450px;
					float: left;
					margin-left: 60px;
					margin-top: 35px;

					h3{
						font-family: $ubuntu;
						font-size: 22px;
						color: #7E826F;
					}

					h5{
						font-weight: normal;
						color: #fff;
						font-family: Arial;
						margin: 10px 0;
					}
					input,select{
						height: 34px;
						border: 0;
						float: left;
						padding: 1px 2px;
						background: #464646;
						padding-left: 20px;
						color:#fff;
						font-size: 14px;
						font-weight: normal;


					}

					.input{
						display: table;
						width: 435px;
						height: 30px;
						position: relative;
						top: -14px;
					}

					input{
						width: 315px;
						padding-left: 114px;
						margin: -5px 0;
					}
					
					input, label, textarea{
						border-bottom: 4px solid #313131;
						transition: all 0.5s ease-in-out;
						-webkit-transition: all 0.5s ease-in-out;
						-moz-transition: all 0.5s ease-in-out;
						
						&.ok{
							border-bottom: 4px solid $verde;
						}

						&.error{
							border-bottom: 4px solid #F73C40;
						}
					}

					input, textarea{
						
						&:focus{
							border-bottom: 4px solid $verde;
						}
					}

					label{
						// border-bottom: 4px solid #282828;
						background: #464646;
						width: 209px;
						height: 30px;
						position: relative;
						// padding: 6px;
						float: left;
						padding: 2px 2px 2px 0;

						&.active{
							border-bottom: 4px solid $verde;
						}

						&.cidade{
							left: 9px;
						}

						&:before{
							position: absolute;
							right: 4px;
							top: 2px;
							content: " ";
							display: block;
							width: 20px;
							height: 24px;
							background: #464646;
							pointer-events: none;
							z-index: 2;
						}

						&:after{
							position: absolute;
							top: 50%;
							right: 8px;
							width: 0;
							height: 0;
							content: " ";
							margin-top: -2px;
							border-left: 4px solid transparent;
							border-right: 4px solid transparent;
							border-top: 4px solid #fff;
							pointer-events: none;
							z-index: 2;
						}

						select{
							-webkit-border-radius: none;
							-moz-border-radius: none;
							border-radius: none;
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							cursor: pointer;
							outline:none;
							position: relative;
							top: -7px;
							width: 209px;
							display: inline-block;
							margin: 5px 0;

							option{
								background: #464646; 
								color: #f2f2f2;
								-webkit-appearance: none;
								-moz-appearance: none;
								appearance: none;
							}

						}

					}
					.placeholder{
						width: 106px;
						position: relative;
						top: 22px;
						left: 5px;
						font-family: $ubuntu;
						font-weight: normal;
						color: #8F8F8F;
						border-right: 1px solid #57594D;
						cursor: default;
					}

					textarea{
						padding: 5px 0 0 20px;
						margin-top: 10px;
						height: 130px;
						border-left:0;
						border-top: 0;
						border-right:0;
						background: #464646;
						font-size: 12px;
						color: #fff;
						float: left;
						width: 409px;
						font-family: Arial;
						font-size: 13px;
					}

					.btn{
						width: 428px;
						height: 35px;
						-webkit-border-radius: 0;
						-moz-border-radius: 0;
						border-radius: 0;	
						float: left; 
						margin-top: 10px;
						font-size: 19px;
						transition: all 0.5s ease-in-out;
						-webkit-transition: all 0.5s ease-in-out;
						-moz-transition: all 0.5s ease-in-out;

						&.error{

							&:hover{
								background: #F73C40;
								border-bottom: 6px solid #C6090D;
								cursor: pointer;
							}
						}
	
					}

				}
			}

		} //content
	}

}