* {
  margin: 0; }

::selection, -moz-::selection, input::selection {
  background: #29ba7f;
  color: #fff;
  text-shadow: 0 0 0; }

@font-face {
  font-family: 'gothic_bold';
  src: url("../fonts/17515_goth725k-webfont.eot");
  src: url("../fonts/17515_goth725k-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/17515_goth725k-webfont.woff") format("woff"), url("../fonts/17515_goth725k-webfont.ttf") format("truetype"), url("../fonts/17515_goth725k-webfont.svg#gothic_bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gothic720_lt_btlight';
  src: url("../fonts/goth720l-webfont.eot");
  src: url("../fonts/goth720l-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/goth720l-webfont.woff") format("woff"), url("../fonts/goth720l-webfont.ttf") format("truetype"), url("../fonts/goth720l-webfont.svg#gothic720_lt_btlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'geoslab703_mdcn_btmedium';
  src: url("../fonts/tt1019m_-webfont.eot");
  src: url("../fonts/tt1019m_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tt1019m_-webfont.woff") format("woff"), url("../fonts/tt1019m_-webfont.ttf") format("truetype"), url("../fonts/tt1019m_-webfont.svg#geoslab703_mdcn_btmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'geoslab703_mdcn_btbold';
  src: url("../fonts/tt1020m_-webfont.eot");
  src: url("../fonts/tt1020m_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tt1020m_-webfont.woff") format("woff"), url("../fonts/tt1020m_-webfont.ttf") format("truetype"), url("../fonts/tt1020m_-webfont.svg#geoslab703_mdcn_btbold") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  background: url(../images/bg1.png);
  height: 100%; }
  html #all, body #all {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -75px;
    position: relative; }
    html #all .central960, body #all .central960 {
      width: 960px;
      margin: 0 auto; }
    html #all section#content, body #all section#content {
      padding-bottom: 35px;
      display: table; }
      html #all section#content #brand, body #all section#content #brand {
        float: left; }
      html #all section#content header#header, body #all section#content header#header {
        width: auto;
        height: 120px;
        display: table;
        margin-top: 15px; }
        html #all section#content header#header p, body #all section#content header#header p {
          font-size: 15px;
          font-family: "gothic720_lt_btlight";
          color: #666;
          float: left;
          position: relative;
          top: 45px;
          left: -196px; }
        html #all section#content header#header nav#menu, body #all section#content header#header nav#menu {
          float: right;
          margin-top: 15px;
          font-family: "gothic720_lt_btlight";
          font-size: 17px;
          width: auto; }
          html #all section#content header#header nav#menu a, body #all section#content header#header nav#menu a {
            color: #666;
            text-decoration: none;
            margin-left: 30px;
            float: left;
            margin-top: 7px; }
            html #all section#content header#header nav#menu a:hover, body #all section#content header#header nav#menu a:hover {
              color: #29ba7f; }
          html #all section#content header#header nav#menu button, body #all section#content header#header nav#menu button {
            float: left;
            margin-left: 30px; }
          html #all section#content header#header nav#menu.shopping, body #all section#content header#header nav#menu.shopping {
            margin-top: -16px; }
      html #all section#content #shadow, body #all section#content #shadow {
        background: url("../images/shadow.png");
        width: 960px;
        height: 52px;
        position: relative;
        top: -45px;
        z-index: 11; }
      html #all section#content table .imageThumb, body #all section#content table .imageThumb {
        width: 60px;
        height: 60px;
        float: left;
        overflow: hidden;
        background: #fff; }
        html #all section#content table .imageThumb img, body #all section#content table .imageThumb img {
          width: 60px;
          height: auto;
          vertical-align: middle; }
      html #all section#content table th, body #all section#content table th {
        text-align: center; }
        html #all section#content table th:first-child, body #all section#content table th:first-child {
          text-align: left; }
      html #all section#content table td, body #all section#content table td {
        font-size: 14px;
        font-family: "Ubuntu";
        font-weight: 200;
        text-shadow: 1px 1px 1px white;
        text-align: left; }
        html #all section#content table td.descAnuncio, body #all section#content table td.descAnuncio {
          width: 250px;
          height: auto;
          font-size: 15px;
          text-align: left; }
        html #all section#content table td.gostaram, body #all section#content table td.gostaram {
          font-size: 20px;
          font-family: "Ubuntu";
          font-weight: bold;
          color: #666;
          text-shadow: 1px 1px 1px white;
          text-align: center;
          top: 15px;
          position: relative; }
        html #all section#content table td.naoGostaram, body #all section#content table td.naoGostaram {
          color: #A9AB9C;
          top: 15px;
          position: relative; }
        html #all section#content table td.reserva, body #all section#content table td.reserva {
          text-align: center;
          top: 15px;
          position: relative; }
      html #all section#content .status, body #all section#content .status {
        width: 22px;
        height: 22px;
        margin: 0 auto;
        float: left;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin-left: 32px;
        vertical-align: middle;
        display: table-cell;
        margin-top: 15px; }
        html #all section#content .status.statusOn, body #all section#content .status.statusOn {
          background: #A8D11B;
          -webkit-box-shadow: inset 2px 0 6px #568318;
          -moz-box-shadow: inset 2px 0 6px #568318;
          box-shadow: inset 2px 0 6px #568318; }
        html #all section#content .status.statusOff, body #all section#content .status.statusOff {
          background: #FF353A;
          -webkit-box-shadow: inset 2px 0 6px #7d0205;
          -moz-box-shadow: inset 2px 0 6px #7d0205;
          box-shadow: inset 2px 0 6px #7d0205; }
        html #all section#content .status.statusPause, body #all section#content .status.statusPause {
          background: #F2DC3C;
          -webkit-box-shadow: inset 2px 0 6px #b5a00f;
          -moz-box-shadow: inset 2px 0 6px #b5a00f;
          box-shadow: inset 2px 0 6px #b5a00f; }
      html #all section#content .legenda, body #all section#content .legenda {
        width: 285px;
        float: right;
        height: auto;
        background: #f2f2f2;
        padding: 15px;
        -webkit-box-shadow: 0 0 10px #cccccc;
        -moz-box-shadow: 0 0 10px #cccccc;
        box-shadow: 0 0 10px #cccccc; }
        html #all section#content .legenda .status, body #all section#content .legenda .status {
          width: 15px;
          height: 15px;
          float: left;
          margin-left: 0;
          margin-top: 8px; }
        html #all section#content .legenda h5, body #all section#content .legenda h5 {
          padding-top: 0;
          margin-top: 0; }
        html #all section#content .legenda h6, body #all section#content .legenda h6 {
          padding: 0;
          margin: 5px 0 0 6px;
          font-weight: normal;
          width: auto;
          float: left;
          margin-right: 33px;
          color: #666;
          text-shadow: 1px 1px 1px white; }
          html #all section#content .legenda h6:last-child, body #all section#content .legenda h6:last-child {
            margin-right: 0; }
      html #all section#content #modalImage, body #all section#content #modalImage {
        width: 200px;
        padding: 5px;
        background: #fff;
        float: right;
        -webkit-box-shadow: 0 0 10px #666666;
        -moz-box-shadow: 0 0 10px #666666;
        box-shadow: 0 0 10px #666666;
        position: fixed;
        z-index: 1000;
        height: auto;
        max-width: 50%;
        right: 5px;
        top: 130px; }
      html #all section#content #leftForm, body #all section#content #leftForm {
        width: 310px;
        float: left;
        margin-top: -30px; }
        html #all section#content #leftForm label, body #all section#content #leftForm label {
          color: #666;
          margin-top: 6px;
          width: 90%; }
        html #all section#content #leftForm input, body #all section#content #leftForm input {
          width: 100%;
          height: 25px; }
          html #all section#content #leftForm input[type="file"], body #all section#content #leftForm input[type="file"] {
            margin-bottom: 15px; }
        html #all section#content #leftForm textarea, body #all section#content #leftForm textarea {
          width: 100%;
          resize: none; }
        html #all section#content #leftForm span, body #all section#content #leftForm span {
          font-size: 11px; }
        html #all section#content #leftForm select, body #all section#content #leftForm select {
          height: 35px;
          width: 105%; }
        html #all section#content #leftForm legend, body #all section#content #leftForm legend {
          font-size: 16px; }
      html #all section#content #rightForm, body #all section#content #rightForm {
        width: 250px;
        float: left;
        margin-top: -30px;
        margin-left: 60px;
        height: auto; }
        html #all section#content #rightForm legend, body #all section#content #rightForm legend {
          font-size: 16px; }
        html #all section#content #rightForm select, body #all section#content #rightForm select {
          height: 35px; }
        html #all section#content #rightForm label, body #all section#content #rightForm label {
          color: #666;
          margin-top: 6px;
          width: 90%;
          float: left; }
          html #all section#content #rightForm label.lbLeft, body #all section#content #rightForm label.lbLeft {
            float: left; }
          html #all section#content #rightForm label.idadeLabel, body #all section#content #rightForm label.idadeLabel {
            width: 40%; }
            html #all section#content #rightForm label.idadeLabel input, body #all section#content #rightForm label.idadeLabel input {
              width: 71%;
              float: left; }
            html #all section#content #rightForm label.idadeLabel:nth-child(3), body #all section#content #rightForm label.idadeLabel:nth-child(3) {
              margin-left: 20px; }
          html #all section#content #rightForm label i.icon-warning-sign, body #all section#content #rightForm label i.icon-warning-sign {
            margin-right: 3px; }
        html #all section#content #rightForm button, body #all section#content #rightForm button {
          width: 100%;
          margin-top: 11px; }
        html #all section#content #rightForm input, body #all section#content #rightForm input {
          width: 100%;
          height: 25px; }
          html #all section#content #rightForm input[type="file"], body #all section#content #rightForm input[type="file"] {
            margin-bottom: 15px; }
          html #all section#content #rightForm input[type="checkbox"], body #all section#content #rightForm input[type="checkbox"] {
            width: 15px;
            height: 15px;
            float: left;
            margin-right: 10px;
            position: relative;
            top: -2px; }
          html #all section#content #rightForm input[type="radio"], body #all section#content #rightForm input[type="radio"] {
            width: 15px;
            height: 15px;
            float: left;
            margin-right: 10px;
            position: relative;
            top: -2px; }
          html #all section#content #rightForm input#from, html #all section#content #rightForm input#to, body #all section#content #rightForm input#from, body #all section#content #rightForm input#to {
            width: 70px; }
        html #all section#content #rightForm .validade, body #all section#content #rightForm .validade {
          width: 100%; }
          html #all section#content #rightForm .validade label, body #all section#content #rightForm .validade label {
            float: left;
            width: 50%; }
            html #all section#content #rightForm .validade label input, body #all section#content #rightForm .validade label input {
              margin-left: 1px;
              margin-right: 1px; }
        html #all section#content #rightForm #qAdult, body #all section#content #rightForm #qAdult {
          opacity: 0.4; }
      html #all section#content #devicePreview, body #all section#content #devicePreview {
        background: url(../images/device.png);
        width: 230px;
        height: 450px;
        float: right;
        margin: -35px 60px 0 0;
        position: static; }
        html #all section#content #devicePreview #preview, body #all section#content #devicePreview #preview {
          width: 202px;
          height: 312px;
          position: relative;
          top: 84px;
          left: 14px;
          background: #f2f2f2;
          display: table; }
          html #all section#content #devicePreview #preview .title, body #all section#content #devicePreview #preview .title {
            background: #96b046;
            height: auto;
            text-align: center;
            padding: 10px 0 5px 0;
            color: #fff;
            margin-top: -6px;
            display: table;
            width: 202px;
            font-weight: bold; }
            html #all section#content #devicePreview #preview .title #txt, body #all section#content #devicePreview #preview .title #txt {
              padding: 0;
              width: 90%;
              min-height: 40px;
              margin: 0 auto;
              display: table;
              background: none;
              border: 0;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
              font-weight: bold;
              color: #fff;
              text-align: center;
              resize: none; }
          html #all section#content #devicePreview #preview .previewImg, body #all section#content #devicePreview #preview .previewImg {
            width: 90%;
            margin: 6% auto;
            background: #ccc;
            height: 94px;
            overflow: hidden;
            position: relative;
            z-index: 3; }
            html #all section#content #devicePreview #preview .previewImg #imgMax, body #all section#content #devicePreview #preview .previewImg #imgMax {
              width: 100%;
              height: auto;
              position: relative;
              z-index: 1;
              top: -10%; }
            html #all section#content #devicePreview #preview .previewImg h6, body #all section#content #devicePreview #preview .previewImg h6 {
              font-size: 25px;
              font-weight: bold;
              text-align: center;
              display: table;
              position: relative;
              top: 35px;
              left: 18px;
              color: rgba(0, 0, 0, 0.2); }
          html #all section#content #devicePreview #preview .descOferta, body #all section#content #devicePreview #preview .descOferta {
            line-height: 19px;
            width: 90%;
            text-align: center;
            font-family: "Ubuntu";
            color: #666;
            height: 115px;
            text-shadow: 1px 1px 1px white;
            font-size: 16px;
            max-height: 110px;
            overflow: hidden;
            background: none;
            border: 0;
            resize: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 0;
            max-height: 115px;
            margin-top: -21px;
            margin-left: 11px; }
          html #all section#content #devicePreview #preview #likes, body #all section#content #devicePreview #preview #likes {
            width: 100%;
            background: #96b046;
            height: 12%;
            position: absolute;
            bottom: 0;
            text-align: center;
            color: #fff; }
            html #all section#content #devicePreview #preview #likes .likes, body #all section#content #devicePreview #preview #likes .likes {
              width: 49%;
              float: left;
              cursor: pointer;
              height: 100%;
              padding-top: 7px; }
              html #all section#content #devicePreview #preview #likes .likes:hover, body #all section#content #devicePreview #preview #likes .likes:hover {
                background: rgba(0, 0, 0, 0.4); }
              html #all section#content #devicePreview #preview #likes .likes.noLike, body #all section#content #devicePreview #preview #likes .likes.noLike {
                padding-left: 2px;
                border-left: 2px solid rgba(0, 0, 0, 0.2); }
      html #all section#content h1.none, body #all section#content h1.none {
        width: auto;
        text-align: center;
        color: #ccc;
        text-shadow: 1px 1px 1px white;
        font-size: 42px;
        font-family: "Ubuntu";
        width: 99%;
        margin-top: 160px; }
      html #all section#content a.adquira, body #all section#content a.adquira {
        font-family: "gothic720_lt_btlight";
        color: #29ba7f;
        text-align: center;
        font-size: 29px;
        width: 50%;
        margin-left: 231px; }
        html #all section#content a.adquira:hover, body #all section#content a.adquira:hover {
          text-decoration: underline; }
    html #all .push, body #all .push {
      height: 35px; }
  html #modalContact h4, body #modalContact h4 {
    background: #e9e9e9;
    color: #fff;
    font-size: 20px;
    font-family: "Ubuntu";
    padding: 5px;
    width: 100%;
    position: relative;
    top: -8px;
    color: #666;
    text-shadow: 1px 1px 1px white;
    z-index: 2; }
  html #modalContact .close, body #modalContact .close {
    font-size: 42px;
    z-index: 3;
    position: relative;
    top: 6px;
    right: -5px; }
    html #modalContact .close:hover, body #modalContact .close:hover {
      color: #29ba7f;
      opacity: 1; }
  html #modalContact h6, body #modalContact h6 {
    font-size: 14px;
    color: #999;
    padding: 0;
    font-weight: normal; }
  html #modalContact label, body #modalContact label {
    width: 100%; }
    html #modalContact label span, body #modalContact label span {
      width: 20%;
      float: left; }
    html #modalContact label input, html #modalContact label textarea, body #modalContact label input, body #modalContact label textarea {
      width: 60%;
      float: left;
      resize: none; }
    html #modalContact label:first-child, body #modalContact label:first-child {
      margin-top: 26px; }
  html footer, body footer {
    height: 35px;
    background: #96b046;
    position: relative;
    margin: 40px auto; }
    html footer .central960, body footer .central960 {
      width: 960px;
      margin: 0 auto;
      height: auto; }
      html footer .central960 a, body footer .central960 a {
        color: #fff;
        font-size: 14px;
        position: relative;
        top: 7px; }
        html footer .central960 a:hover, body footer .central960 a:hover {
          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); }

/*Tooltip UI component by www.menucool.com */
/*For tooltip target element that has set class="tooltip" */
.tooltip {
  text-decoration: none;
  border-bottom: 2px dotted #3366cc;
  color: #36c;
  outline: none; }

/*For tooltip box*/
div#mcTooltip {
  line-height: 16px;
  border-width: 1px;
  color: #333;
  border-color: #BBBBBB;
  padding: 10px;
  font-size: 12px;
  font-family: Verdana, Arial;
  border-radius: 6px;
  /*Rounded corners. N/A for IE 8 and below.*/
  box-shadow: 0 1px 4px #aaaaaa;
  /*Drop shadow. N/A for IE 8 and below.*/ }

div#mcTooltip, div#mcTooltip div {
  background-color: #EAECF0; }

/* For hyperlink within tooltip */
div#mcTooltip a {
  color: #fff; }

/*Close button. Only available when sticky or overlay has been set to true.*/
div#mcttCloseButton {
  width: 14px;
  height: 14px;
  position: absolute;
  background-image: url(../closeBtn.gif);
  cursor: pointer;
  overflow: hidden;
  top: 12px;
  right: 12px;
  left: auto; }

/* Only applies when overlay has been set to true or 1.*/
div#mcOverlay {
  background-color: white;
  opacity: 0.8;
  filter: alpha(opacity=80);
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 4; }

/*Only available when calling by tooltip.ajax(...). It will be a spinning image indicating a request is in progress.*/
div#tooltipAjaxSpin {
  margin: 20px 50px;
  background: transparent url(../loading.gif) no-repeat center center;
  width: 50px;
  height: 30px;
  font-size: 0; }

/*The settings below should remain unchanged*/
div#mcTooltipWrapper {
  position: absolute;
  visibility: hidden;
  overflow: visible;
  z-index: 9999999999;
  top: -2000px; }

div#mcTooltip {
  float: left;
  border-style: solid;
  position: relative;
  overflow: hidden; }

div#mcttCo {
  position: absolute;
  text-align: left; }

div#mcttCo em, div#mcttCo b {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden; }
